/*p {
    background-color: green;
    color: white;
} */

p#wd-id-selector-1 {
    background-color: red;
    color: white;
}

p#wd-id-selector-2 {
    background-color: yellow;
    color: black;
}

p#wd-ai-id-selector {
    background-color: teal;
    color: white;
}

p#wd-id-selector-3 {
    background-color: purple;
    color: turquoise;
}

#wd-lab2 h2 {
    background-color: navy;
    color: white;
}

#wd-lab2 h3 {
    background-color: purple;
    color: turquoise;

}

.wd-class-selector {
    background-color: purple;
    color: turquoise;
}

.wd-ai-class-selector {
    background-color: darkgreen;
    color: gold;
}


.wd-my-class {
  background-color: navy;
  color: red;
}
